:root {
    --primary-color: #000;
    --secondary-color: #98d6f1;
    --accent1-color: #db413b;
    --heading-font: Georgia, Garamond serif;
    --body-font: Tahoma, Arial, sans-serif;
}
*/Universal Selector Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    font-family: var(--body-font);
    color: var(--primary-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: #fff;
    color: var(--accent1-color);
}

.hero article {
    position: absolute;
    top: 300px;
    width: 80%;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: var(--secondary-color);
    padding: 10px;
}

.hero article img {
    float: right;
    width: 125px;
    border: 2px solid #000;
    box-shadow: 2px 2px 10px #3a3939;
}