* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 500px;
    margin: 0 auto;
}

form {
    background-color: rgb(249, 245, 239);
    padding: 1rem;
    margin: 1rem 0 0 0;
    font-family: Arial, Helvetica, sans-serif
}

h1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif
}

input, textarea, select, button{
    width: 450px;
    margin-bottom: 1.5rem;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
}

button {
    background-color: rgb(183, 124, 47);
    color: antiquewhite;
    padding: 1rem;
    border: dashed 2px rgb(145, 99, 39);
    border-radius: 10px;
}


