body {
    background-color: #FCA6C9;
    width: 80%;
    margin:0 auto;
    text-align: center;
    border: solid green 2px;
}
.center {
    color: #fff;
}

.center h1 {
    font-weight: bolder;
}

.center p {
    font-size: small;
    width: 70%;
    margin: 0 auto;
    padding-bottom: 1em;
}

img {
    width: 30%;
    text-align: center;
}

ol{
text-align: left;
color: #000;
font-weight: bolder;
width: 50%;
margin: 0 auto;
padding-bottom: 2em;
}

.bigWhite {
    color: #fff;
    font-weight: 100;
    font-family:Georgia, 'Times New Roman', Times, serif;
    width: 30%;
    margin: 0 auto;
    padding-bottom: 1em;
}

footer {
    font-size: small;
    width: 30%;
    margin: 0 auto;
}

#w06 {
    background-color: #fff;
    border: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#w06container {
    display:grid;
    grid-template-columns: 50% 50%;
    border: 1px solid green;
    background: #B9B8B9;
}

.cherry {
    grid-column: 1/2;
    background-color: #fff;
    grid-row: 1/3;
}

.cherry img {
    width:100%;
}

#w06 h1 {
    grid-column: 1/3;
    grid-row: 1/2;
    font-size: 100px;
    text-align: center;
    z-index: 2;
}

#w06 p {
    grid-column:2/3;
    font-size: 50px;
    letter-spacing: .3em;
    color: #781F24;
}