
body {
    margin: 0;
}
footer {
    background-color: steelblue;
    color: white
}

footer p {
    padding: 25px;
}

h1 {
    margin: 50px 0;
}

nav {
    background-color: steelblue;
}

a {
    color: white;
    padding: 25px;
}

nav {
    padding:
}

img {
    border: 4px olid steelblue;
}