main {
    width:800px;
}

.circles{
    width:100%;
    padding:0px;
    margin: 0px;
    display: block;
}

.bottom {
    background-color: #737373;
    padding: 5% 0;
    text-align: center;
    justify
}

.bottom img {
    width: 150px;
    border: #000 solid 10px;
    border-radius: 50% 50% 50% 50%;
    margin: 0 20px;
}
