* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --heading-background-color: darkblue;
    --heading-text-color: #fff;
    --heading-font: Lato, arial, sans-serif;
    --padding: 1rem;
    --border: 1px solid rgb(0 0 0 / 0.1);
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

h2 {
    position: absolute;
    top: 30px;
    left: 100px;
}

main {
    max-width: 700px;
}

aside {
    width: 20rem;
    text-align: center;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

main img {
    width: 150px;
    height: auto;
    float: right;
}

p {
    padding: 0;
}

footer {
    margin-top: 1rem;
    border-top: 1rem;
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    padding: 1rem;
    background-color: #d9d9d9;
}