* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --heading-background-color: darkblue;
    --heading-text-color: #fff;
    --heading-font: Lato, arial, sans-serif;
    --padding: 1rem;
    --border: 1px solid rgb(0 0 0 / 0.1);
}

header,
.grid,
footer {
    max-width: 840px;
    margin: 0 auto;
}

nav {
    background-color: darkblue;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none;
    font-family: lato;
}

h1 {
    color: darkblue;
    border-bottom: 2px solid darkblue;
}

main {
    max-width: 840px;
    grid-column: 2/3;
}

aside {
    width: 20rem;
    border: 2px solid darkblue;
    text-align: center;
    position: relative;
    color: #000;
    grid-column: 1/2;
    grid-row: 1/2;
}

h2 {
    position: absolute;
    top: 30px;
    left: 100px;
}

aside img {
    width: 200px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

main img {
    width: 150px;
    height: auto;
    float: right;
}

p {
    padding: 0;
}

footer {
    margin-top: 3rem;
    border-top: 2px solid #000;
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    padding: 1rem;
    background-color: #d9d9d9;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}