body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}



header, footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    font-size: 1.25rem;
    padding: .5rem;
}

main {
    width: 50%;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

img {
    width: 100%;
    text-align: center;
    box-shadow: 0 0 50px #999;
}

section {
    margin: 20px;
    background-color: #edebeb;
    padding: 10px;
    font-size: .8rem;
}

h2 {
    border-bottom: 1px #000 solid;
    padding-bottom: .5rem;
}

footer {
    font-size: .9rem;
}